[Configuration]
BackgroundMode=TERMINAL_BACKGROUND_TRANSPARENT
BackgroundImageFile=/home/lukas/pictures/mch6IR.jpg
BackgroundImageStyle=TERMINAL_BACKGROUND_STYLE_STRETCHED
BackgroundDarkness=0.850000
BackgroundImageShading=0.000000
ColorForeground=#9999aaa9cccc
ColorBackground=#232323232323
ColorPalette=rgb(3,4,5);rgb(131,18,19);rgb(252,255,147);rgb(131,131,17);rgb(135,44,226);rgb(113,19,137);rgb(0,131,35);rgb(129,130,131);rgb(65,66,99);rgb(255,18,19);rgb(192,86,0);rgb(0,255,105);rgb(136,153,0);rgb(239,185,7);rgb(136,153,0);rgb(255,255,255)
CommandLoginShell=TRUE
RunCustomCommand=TRUE
CustomCommand=bash
MiscAlwaysShowTabs=FALSE
MiscBell=FALSE
MiscBellUrgent=FALSE
MiscBordersDefault=TRUE
MiscCursorBlinks=TRUE
MiscCursorShape=TERMINAL_CURSOR_SHAPE_BLOCK
MiscDefaultGeometry=64x34
MiscInheritGeometry=FALSE
MiscMenubarDefault=FALSE
MiscMouseAutohide=TRUE
MiscMouseWheelZoom=TRUE
MiscToolbarDefault=FALSE
MiscConfirmClose=FALSE
MiscCycleTabs=TRUE
MiscTabCloseButtons=TRUE
MiscTabCloseMiddleClick=FALSE
MiscTabPosition=GTK_POS_TOP
MiscHighlightUrls=FALSE
MiscMiddleClickOpensUri=FALSE
MiscCopyOnSelect=FALSE
MiscShowRelaunchDialog=TRUE
UseDefaultWorkingDir=TRUE
DefaultWorkingDir=/
MiscRewrapOnResize=FALSE
MiscUseShiftArrowsToScroll=FALSE
MiscSlimTabs=FALSE
MiscNewTabAdjacent=FALSE
MiscSearchDialogOpacity=100
MiscShowUnsafePasteDialog=TRUE
ScrollingLines=999999
ScrollingOnKeystroke=FALSE
ScrollingUnlimited=TRUE
TitleMode=TERMINAL_TITLE_REPLACE
TabActivityTimeout=0
ColorCursor=#9999aaa9cccc
ColorBold=#bfffa3d63fff
TabActivityColor=#dc322f
ColorCursorUseDefault=FALSE
ColorBoldUseDefault=FALSE
ScrollingBar=TERMINAL_SCROLLBAR_NONE
FontName=Source Code Pro Medium 10

