; vim:ft=dosini
; |-------------------------------------------------------------------------|
; |  ____                 _     _      ____                        _        |
; | |  _ \ ___ _   _  ___| |__ (_) ___|  _ \ ___ _ __   __ _ _   _(_)_ __   |
; | | |_) / __| | | |/ __| '_ \| |/ __| |_) / _ \ '_ \ / _` | | | | | '_ \  |
; | |  __/\__ \ |_| | (__| | | | | (__|  __/  __/ | | | (_| | |_| | | | | | |
; | |_|   |___/\__, |\___|_| |_|_|\___|_|   \___|_| |_|\__, |\__,_|_|_| |_| |
; |           |___/                                   |___/                 |
; |-------------------------------------------------------------------------| 

;	##################
;	##### COLORS #####
;	##################

[colors]
background = #d9000000
background-alt = #aa130023
foreground = #afbfcf
foreground-alt = #646464
primary = #84369f
secondary = #ff00ff
alert = #ff0000
none = #00000000

;	################
;	##### BAR1 #####
;	################

[bar/bar1]
width = 100%
height = 15
radius = 0.0
fixed-center = true
bottom = true

background = ${colors.background}
foreground = ${colors.foreground}

line-size = 2
line-color = #ffffff

border-size = 4
border-color = ${colors.background}

padding-left = 2
padding-right = 2

module-margin-left = 2
module-margin-right = 2

font-0 = Source Code Pro Medium:pixelsize=8;1
font-1 = unifont:fontformat=truetype:size=8:antialias=false;0
font-2 = FontAwesome:pixelsize=8;1

modules-left = i3 uptime ip
modules-center = cpu memory
modules-right = ping filesystem dates

tray-position = right
tray-padding = 2
cursor-click = pointer
cursor-scroll = ns-resize

;   ################
;   ##### BAR2 #####
;   ################

;[bar/bar2]
;width = 100%
;height = 19
;radius = 0.0
;fixed-center = true
;bottom = false
;
;background = ${colors.background}
;foreground = ${colors.foreground}
;
;line-size = 3
;line-color = #ffffff
;
;border-size = 4
;border-color = #00001323
;
;padding-left = 2
;padding-right = 2
;
;module-margin-left = 2
;module-margin-right = 2
;
;font-0 = Source Code Pro Medium:pixelsize=8;1
;font-1 = unifont:fontformat=truetype:size=8:antialias=false;0
;font-2 = FontAwesome:pixelsize=8;1
;
;modules-left = apps matrix
;modules-center = gping rping fping pping
;modules-right = processes pacman powermenu
;
;tray-position = right
;tray-padding = 2
;cursor-click = pointer
;cursor-scroll = ns-resize


;	##############
;	##### i3 #####
;	##############

[module/i3]
type = internal/i3
format = <label-state> <label-mode>
index-sort = true
wrapping-scroll = false

; Only show workspaces on the same output as the bar
;pin-workspaces = true

label-mode-padding = 2
label-mode-foreground = ${colors.foreground}
label-mode-background = ${colors.primary}

; focused = Active workspace on focused monitor
label-focused = %name%
label-focused-background = ${colors.background}
label-focused-underline= #84369f
label-focused-padding = 2

; unfocused = Inactive workspace on any monitor
label-unfocused = %name%
label-unfocused-padding = 2
label-unfocused-underline = #54066f

; visible = Active workspace on unfocused monitor
label-visible = %name%
label-visible-background = ${self.label-focused-background}
label-visible-underline = ${self.label-unfocused-underline}
label-visible-padding = ${self.label-focused-padding}

; urgent = Workspace with urgency hint set
label-urgent = %name%
label-urgent-background = ${colors.alert}
label-urgent-padding = 2

; Separator in between workspaces
; label-separator = |

;	################
;	##### LOAF #####
;	################

[module/loaf]
type = custom/script
exec = python3 ~/Developer/.scripts/loaf.py
label = ¯\_(ツ)_/¯ %output% ¯\_(ツ)_/¯
interval = 360

;	#################
;	##### DATES #####
;	#################

[module/dates]
type = custom/script
exec = python3 ~/Developer/.scripts/polyscripts/polydate.py
label = %{F#84369f}%{F#afbfcf} %output%
interval = 1

;	##################
;	##### UPTIME #####
;	##################

[module/uptime]
type = custom/script
exec = python3 ~/Developer/.scripts/polyscripts/polyuptime.py
label = %{F#84369f} %{F#afbfcf}%output%
interval = 1

;	#####################
;	##### PROCESSES #####
;	#####################

[module/processes]
type = custom/script
exec = python3 ~/Developer/.scripts/polyscripts/polyprocess.py
interval = 5
;	##################
;	##### MATRIX #####
;	##################

[module/matrix]
type = custom/script
exec = python3 ~/Developer/.scripts/polyscripts/polysysinfo.py
interval = 180

;	##################
;	##### PACMAN #####
;	##################

[module/pacman]
type = custom/script
exec = python3 ~/Developer/.scripts/polyscripts/polypacman.py
interval = 60

;	################
;	##### LCDM #####
;	################

[module/lcmd]
type = custom/script
exec = python3 ~/Developer/.scripts/polyscripts/polycmd.py
interval = 1

;	##############
;	##### IP #####
;	##############

[module/ip]
type = custom/script
exec = sh ~/Developer/.scripts/polyscripts/ip.sh
label = %{F#84369f}%{F#afbfcf} %output%
interval = 1
;	################
;	##### PING #####
;	################

[module/ping]
type = custom/script
exec = sh ~/Developer/.scripts/polyscripts/ping.sh
label = %{F#83469f}%{F#afbfcf} %output%
interval = 1

;	#################
;	##### GPING #####
;	#################

[module/gping]
type = custom/script
exec = sh ~/Developer/.scripts/polyscripts/gping.sh
label = %{F#84369f}%{F#afbfcf} %output%
interval = 1

;	#################
;	##### RPING #####
;	#################

[module/rping]
type = custom/script
exec = sh ~/Developer/.scripts/polyscripts/rping.sh
label = %{F#84369f}%{F#afbfcf} %output%
interval = 1


;	#################
;	##### FPING #####
;	#################

[module/fping]
type = custom/script
exec = sh ~/Developer/.scripts/polyscripts/fping.sh
label = %{F#84369f}%{F#afbfcf} %output%
interval = 1

;	#################
;	##### PPING #####
;	#################

[module/pping]
type = custom/script
exec = sh ~/Developer/.scripts/polyscripts/pping.sh
label = %{F#84369f}%{F#afbfcf} %output%
interval = 1

;	######################
;	##### FILESYSTEM #####
;	######################

[module/filesystem]
type = internal/fs
interval = 25

mount-0 = /
mount-1 = /mnt
mount-2 = /mnt/mnt

label-mounted = %{F#84369f}%mountpoint%%{F-}: %free%
label-unmounted = %mountpoint%
label-unmounted-foreground = ${colors.foreground-alt}

;	###############
;	##### CPU #####
;	###############

[module/cpu]
type = internal/cpu
interval = 2
label = %{F#84369f}CPU: %{F#afbfcf}%percentage%%
format = "<label> <ramp-coreload>"
format-prefix-foreground = #f90000
ramp-coreload-spacing = 0
ramp-coreload-0 = ▁
ramp-coreload-0-font = 2
ramp-coreload-0-foreground = #ff00ff
ramp-coreload-1 = ▂
ramp-coreload-1-font = 2
ramp-coreload-1-foreground = #ff88ff
ramp-coreload-2 = ▃
ramp-coreload-2-font = 2
ramp-coreload-2-foreground = #ff8888
ramp-coreload-3 = ▄
ramp-coreload-3-font = 2
ramp-coreload-3-foreground = #ffff88
ramp-coreload-4 = ▅
ramp-coreload-4-font = 2
ramp-coreload-4-foreground = #ffff00
ramp-coreload-5 = ▆
ramp-coreload-5-font = 2
ramp-coreload-5-foreground = #ff8800
ramp-coreload-6 = ▇
ramp-coreload-6-font = 2
ramp-coreload-6-foreground = #ff4400
ramp-coreload-7 = █
ramp-coreload-7-font = 2
ramp-coreload-7-foreground = #ff0000

;	##################
;	##### MEMORY #####
;	##################

[module/memory]
type = internal/memory
interval = 2
label = %{F#84369f}MEM: %{F#afbfcf}[ %mb_used% / %mb_total% ]
format = "<label> <ramp-used>"

ramp-used-0 = ▁
ramp-used-0-font = 2
ramp-used-0-foreground = #ff00ff
ramp-used-1 = ▂
ramp-used-1-font = 2
ramp-used-1-foreground = #ff88ff
ramp-used-2 = ▃
ramp-used-2-font = 2
ramp-used-2-foreground = #ff8888
ramp-used-3 = ▄
ramp-used-3-font = 2
ramp-used-3-foreground = #ffff88
ramp-used-4 = ▅
ramp-used-4-font = 2
ramp-used-4-foreground = #ffff00
ramp-used-5 = ▆
ramp-used-5-font = 2
ramp-used-5-foreground = #ff8800
ramp-used-6 = ▇
ramp-used-6-font = 2
ramp-used-6-foreground = #ff4400
ramp-used-7 = █
ramp-used-7-font = 2
ramp-used-7-foreground = #ff0000

;	#####################
;	##### POWERMENU #####
;	#####################

[module/powermenu]
type = custom/menu

expand-right = false

format-spacing = 1

label-open = Power %{F#ff0000}
label-open-foreground = ${colors.foreground}
label-close = 
label-close-foreground = ${colors.alert}
label-close-underline = ${colors.alert}
label-separator = |
label-separator-foreground = ${colors.foreground-alt}

label-open-underline = #ff0000

menu-0-0 =  reboot
menu-0-0-foreground = #00ff00
menu-0-0-underline = #00ff00
menu-0-0-exec = xfce4-terminal -e "sudo reboot"

menu-0-1 =  poweroff
menu-0-1-foreground = #00ff00
menu-0-1-underline = #00ff00
menu-0-1-exec = xfce4-terminal -e "sudo poweroff"

menu-0-2 =  logout
menu-0-2-foreground = #00ff00
menu-0-2-underline = #00ff00
menu-0-2-exec = i3 exit

menu-0-3 =  lock
menu-0-3-foreground = #00ff00
menu-0-3-underline = #00ff00
menu-0-3-exec = i3lock -i ~/Wallpapers/ArchPlasmaPure.png

;	################
;	##### APPS #####
;	################

[module/apps]
type = custom/menu
expand-right = true
format-spacing = 1

label-open = %{F#84369f}%{F#afbfcf} Artix
label-open-foreground = ${colors.foreground}

label-close =  
label-close-foreground = ${colors.alert}
label-close-underline = ${colors.alert}

label-separator = |
label-separator-foreground = ${colors.foreground-alt}

label-open-underline = ${colors.primary}

menu-0-0 =  Apps
menu-0-0-foreground = #00ff00
menu-0-0-underline = #00ff00
menu-0-0-exec = rofi -modi drun -show drun -lines 31 -show-icons -eh 1 -location 1 -width 600 -font "monospace 12" -theme "~/.config/rofi/deepblue_opaque.rafi"

menu-0-1 =  SSH
menu-0-1-foreground = #00ff00
menu-0-1-underline = #00ff00
menu-0-1-exec = rofi -mode ssh -show ssh -lines = 1 -eh 2 -location 1 -width 1920 -font "monospace 12" -theme "~/.config/rofi/deepblue_opaque.rafi"

menu-0-2 =  CMD
menu-0-2-foreground = #00ff00
menu-0-2-underline = #00ff00
menu-0-2-exec = rofi -mode run -show run -lines = 1 -eh 2 -location 1 -width 1920 -font "monospace 12" -theme "~/.config/rofi/deepblue_opaque.rafi"

menu-2-0 = Thunar
menu-2-0-exec = thunar
menu-2-1 = PCManFM
menu-2-1-exec = pcmanfm
menu-2-2 = Ranger
menu-2-2-exec = xfce4-terminal -e ranger

;	####################
;	##### SETTINGS #####
;	####################

[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over
;pseudo-transparency = false

[global/wm]
margin-top = 5
margin-bottom = 5

